{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'exam/style/style.css' %}">
</head>

<body>
    {% include 'exam/header.html' %}

    <main class="main_container login_main">
        <div class="login_inner_container">
            <h2>Log in</h2>
            {% if error %}
            <p class="error_message">{{error}}</p>
            {% endif %}
            <form action="{% url 'exam:log_in' %}" method="post">
                {% csrf_token %}
                <div class="input_container">
                    <input type="text" id="login_username" name="username" placeholder="Username">
                </div>
                <div class="input_container">
                    <input type="password" id="login_password" name="password" placeholder="Password">
                </div>
                <input type="submit" value="Log in">
            </form>
            <a href="/exam/signup">
                <p>Sign up?</p>
            </a>
        </div>
    </main>

    {% include 'exam/footer.html' %}
</body>

</html>